# venv
.venv/

# python cache
**/__pycache__/
*.pyc

# PyInstaller artifacts
**/build/
**/dist/
*.spec

# local KB (vectorized data)
data/kb/
*.pkl

# binaries / archives
*.exe
*.zip
*.lnk

# downloaded test docs
*.html

# local env
.env

# installer assets (там будет собранный exe приложения)
installer_assets/
